body {
    background-color: lightgray;
    text-align: center;
    margin: 0;
    font-size: 18px;
    font-family: Arial, sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    display: block;
    line-height: 1em;
}

h1 {
    color: navy;
}

fancy {
    font-family: "Cambria Math", cursive;
    font-style: italic;
}

.header {
    margin: 0px;
    padding: 0px;
    border: 0px;
    height: 120px;
    display: flex;
    min-width: 300px;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
    font-size: 48px;
    font-family: Arial, sans-serif;
}