@font-face {
    font-family: "Cambria Math";
    src: url('fonts/cambria-math/cambria-math.ttf') format('truetype');
}

body {
    background-color: lightgray;
    text-align: center;
    margin: 0;
    padding-bottom: 100px;
    font-size: 18px;
    font-family: Arial, sans-serif;
    white-space: nowrap;
    overflow: auto;
    text-overflow: ellipsis;
    word-wrap: break-word;
    display: block;
    line-height: 1em;
}

h1 {
    color: navy;
}

fancy {
    font-family: "Cambria Math", Arial, cursive;
    font-style: italic;
}

.header {
    margin: 0px;
    padding: 0px;
    border: 0px;
    height: 120px;
    display: flex;
    min-width: 300px;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
    font-size: 48px;
    font-family: Arial, sans-serif;
    position: relative;
}

.title {
    text-align: center;
    width: 100%;
}


.homeButton {
    align-content: start;
    background-color: #757575;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    position: absolute;
    left: 40px;
    vertical-align: central;
}

code {
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
}

codeHeader {
    color: lightgray;
    font-size: 12px;
}

a {
    color: LinkText;
    text-decoration: underline;
}