.body {
    text-align: left;
}

p {
    text-align: justify;
    white-space: pre-wrap;
    line-height: 1.5em;
    margin-left: 20%;
    margin-right: 20%;
}

h2 {
    text-align: justify;
    white-space: pre-wrap;
    line-height: 0.5em;
    margin-left: 20%;
    margin-right: 20%;
}

code {
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
}

codeHeader {
    color: lightgray;
    font-size: 12px;
}

tref {
    color: #7080A0;
    font-style: italic;
}

a {
    color: #7080A0;
    text-decoration: none;
}