.body {
    text-align: left;
}

p {
    text-align: justify;
    white-space: pre-wrap;
    line-height: 1.5em;
    margin-left: 20%;
    margin-right: 20%;
}

h2 {
    text-align: justify;
    white-space: pre-wrap;
    line-height: 0.5em;
    margin-left: 20%;
    margin-right: 20%;
}

comment {
    color: #70B040;
    font-style: italic;
}

tref {
    color: #7080A0;
    font-style: italic;
}